@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flex-center {
  @apply flex justify-center items-center;
}

.glassmorphisme {
  @apply bg-white bg-opacity-0 hover:bg-opacity-5 backdrop-filter backdrop-blur-lg border border-transparent hover:border-gray-800 rounded-xl gap-5 transition ease-in-out duration-500;
}
